<h1>Game Form (CUD)</h1>
<form method="POST" action="/game/create">
    <p>This form will *** a Game TODO</p>
    <input name='title' type="text" placeholder="Title">
    <input name='summary' type="text" placeholder="Summary">
    <input name='edition' type="text" placeholder="Edition">
    <input name='review' type="text" placeholder="Review">
    <input name='price' type="number" placeholder="Price">
    <input name='discount' type="number" placeholder="Discount">
    <input name='release' type="date" placeholder="Release Date">
    <!-- <input name='platform' type="text" placeholder="Platform *TODO DROPDOWN">
    <input name='publisher' type="text" placeholder="Publisher *TODO DROPDOWN"> -->
    <input type="submit">
</form>
<h3>Create/Update/Delete TODO</h3>