<!DOCTYPE html>
<html>
  <head>
    <title>Game Library App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Game Library App</h1>
    <p>A simple game library built with CRUD functions</p>
    <ul>
      <li><a href="/games">All Games</a></li>
      <li><a href="/game/create">Create Game</a></li>
      <li><a href="/searchGame">Find Game</a></li>
    </ul>
  </body>
</html>
