<!DOCTYPE html>
<html>
  <head>
    <title>Game Library App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Game Library App</h1>
    <p>A simple game library built with CRUD functions</p>
  </body>
</html>
