<h1>Platform Form</h1>
<form method="POST" action=<%= action %>>
    <p>This form will <%= type %> a Platform</p>
    <input name='name' type="text" value=<%= name %> placeholder="Platform Name">
    <input type="submit" value=<%= type %>>
</form>
<a href="/">Return Home</a>
